*{
    margin:0px;
    padding: 0px;
}
/* front family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* font-family: 'Work Sans', sans-serif; */
/* universal use */
.pad{
    padding: 240px;
}
/* navigation bar */
nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding:10px 140px;
  }
.logo-G{
    color: #FF42A5;
}
.logo{
    font-size: calc(.0625rem*45);
    font-weight: 700;
    font-family: Work Sans;
    color: #0B0223;
}
.follow-contaniar{
    padding: 1px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
nav>div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding: 5px;
  }
  
  a:hover {
    background-color: #FF42A5;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  /* banner */
  .main-banner{
    display:flex;
    align-items: center;
    height:calc(1vh-10);
    justify-content: space-between;
    padding:0px 240px;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    

  }
.banner-title{
    color: #0B0223;
  font-family: Work Sans;
  font-size: calc(.0625rem*48);
  font-weight: 600;
  }
.banner-des{
    display: flex;
    align-items: center;
    font-size: calc(.0625rem*20);
    margin-top: 17px;
    

  }
  
  .banner-goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text;
    color: transparent;
    font-size: calc(.0625rem*95);
    font-weight: 800;
    font-family: Work Sans;
  }
.banner-button{
  padding-top: 40px;
}
.primary-button{
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  padding: 21px 40px;
  color: #FFF;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
#blue{
  background: #4EC5F7;
  position: relative;
  left: 20px;
}
/* banner 2 */
.banner2-p{
  text-align: right;
}
.banner2-title{
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner2-des{
  text-align: right;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width:520px;
  color: #534C64;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;

}
.banner2-purpose{
  padding-top: 30px;
color: #534C64;
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
}
.banner2-qoute{
  color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-weight: 700;
}
/* banner 3 */
.banner3-margin{
  margin: 0px 240px;
}
.banner3-main{
  text-align: center;
  margin-top: 120px;
}
.banner3-title{
  color: #0B0223;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
}
.banner2-title-fist-half{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
}
.banner3-des{
  padding-top: 20px;
  padding-bottom: 50px;
  color: #534C64;
font-family: Work Sans;
font-size: 18px;
line-height: 30px; /* 166.667% */
}
.card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
  padding: 10px;
  text-align: justify;
}
/* banner 4 */
.banner4-main{
  /* border: 1px solid brown; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 240; */
  /* padding-top: 60px; */
  width: auto;
  height: 950px;
}
  
}
.banner3-part1{
  width: 353px;
}
.banner4-img{
  width: 634.833px;
  height: 650px;

}
.banner4-part2-outer{
  width: 634.833px;
  height: 650px;
}
.banner4-part2-inner{
  transform: scale(.8);
  position: relative;
  top: -200px;
  left: -180px;
  

}
/* banner 5 */
.banner5-part2-inner{
  transform: scale(.8);
  position: relative;
  top: -200px;
  left: 420px;
}
.banner5-part1{
  text-align: left;
  width: 350px;
  padding: 200px;
}
.pink-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1920px;
  height: 821px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  color: #FFF;
}
.pink-part-1{
  text-align: justify;
  width: 680px;
  padding: 240px;
}
.pink-header{
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.pink-des{
padding: 20px 0px;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
}
.pink-list{
  display:flex;
  
}
.pink-des-1{
  text-align:left;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}
.pink-des-2{
  text-align:right;
}
.pink-section-btn{
  border: none;
  margin-top:30px;
  padding: 21px 40px;
  border-radius: 48px;
  background: #FFF;
}
/* footer */
footer{
  background-color:#0B0223;
    display: grid;
    text-align: center;
    color: #FFF;
    padding: 130px 400px;
}
.footer-logo  {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(.0625rem*45);
  font-weight: 700;
  font-family: Work Sans;
  
}
.footer-features{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 40px;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  padding: 60px 0px;
}
.footer-icon img{
  width: 40px;
  height: 40px;
  padding-bottom: 40px;
}

 /* small device */
  @media screen and (max-width:576px) {
    nav{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        box-shadow: none;
        
    }
    li{
        display: grid;
    }

    .main-banner{
      display:grid;
      grid-row: 1;
      padding: 0px 40px;

  }
}
  